################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookStoreApp/.vs/BookStoreApp/v16/Server/sqlite3
