@model ProCoach.Data.Club

@{
    ViewData["Title"] = "Add new club";
    Layout = "_AdminLayout";
}
    <section class="content">

        <div class="row">
            <div class="col-md-6">
                <div class="checkbox box-primary">
                    <div class="box-header with-border">
                        <h3 class-"box-title">Add New Coach</h3>
                        </h3>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Sport" class="control-label"></label>
                        <input asp-for="Sport" class="form-control" />
                        <span asp-validation-for="Sport" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Website" class="control-label"></label>
                        <input asp-for="Website" class="form-control" />
                        <span asp-validation-for="Website" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </section>