@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_HomeIndexLayout";

}


@section header {

    <link rel="stylesheet" href="~/admin/dist/css/AdminLTE.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/admin/components/iCheck/icheck.min.js">
    <!-- Theme style -->

    <style>
        .login-box, .register-box {
            width: 500px;
            margin: 7% auto;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <body class="hold-transition ForgotPassword-page">
            <div class="login-box">
                <div class="login-logo">
                </div>
                <h3>Please enter the existing email</h3>
                <!-- /.login-logo -->
                <div class="login-box-body">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <div class="form-group has-feedback">

                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </body>
    <!-- /.login-box-body -->

    </div>
    </div>
>






            @section Scripts {

                <script>
                    $(function () {
                        $('input').iCheck({
                            checkboxClass: 'icheckbox_square-blue',
                            radioClass: 'iradio_square-blue',
                            increaseArea: '20%' /* optional */
                        });
                    });
                </script>


                <partial name="_ValidationScriptsPartial" />
            }
