@page
@model RegisterModel
@{
    ViewData["Title"] = "Register New Account";

    Layout = "_HomeIndexLayout";

}

@section header {


    <link rel="stylesheet" href="~/admin/components/bootstrap/dist/css/bootstrap-theme.min.css">
    Font Awesome
    <link rel="stylesheet" href="~/admin/components/font-awesome/css/font-awesome.css">
    Ionicons
    <link rel="stylesheet" href="~/admin/components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin/dist/css/AdminLTE.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/admin/components/iCheck/icheck.min.js">

<style>
    .login-box, .register-box {
    width: 500px;
    margin: 7% auto;
}
</style>
}
<<<<<<< HEAD
@*<section class="content">*@
=======


>>>>>>> be438e0ca3a0bc3f830894e4f84658d994a2cc9c
    <body class="hold-transition register-page">
        <div class="register-box">
            <div class="register-box-body">
                <p class="login-box-msg">Register a new membership</p>
                <div class="col-md-12">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>


                        <div class="form-group has-feedback">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName"class="form-control" placeholder="First Name">
                            <span asp-validation-for="Input.FirstName" class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label asp-for="Input.LastName"></label>
                            <input asp-for="Input.LastName"class="form-control" placeholder="Last Name">
                            <span asp-validation-for="Input.LastName" class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" placeholder="Email">
                            <span asp-validation-for="Input.Email" class="glyphicon glyphicon-envelope form-control-feedback"></span>

                        </div>
                        <div class="form-group has-feedback">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                            <span asp-validation-for="Input.ConfirmPassword" class="glyphicon glyphicon-log-in form-control-feedback"></span>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                        <!--
                        <div class="social-auth-links text-center">
                            <p>- OR -</p>
                            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                                <i class="fa fa-facebook"></i> Sign up using
                                Facebook
                            </a>
                            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                                <i class="fa fa-google-plus"></i> Sign up using
                                Google+
                            </a>
                        </div>
    -->
                        <a href="~/identity/account/login" class="text-center">I already have a membership</a>

                    </form>
                </div>
            </div>
        </div>


    </body>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


